<p>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <a mat-button  routerLink="/">OAuth</a>
      <span class="example-spacer"></span>
      <a mat-flat-button routerLink="sign-in">Sign in</a>
    </mat-toolbar-row>
  </mat-toolbar>
</p>
